[Unit]
Description=IPC proxy Service
After=network.target boot_config.service

[Service]
Type=simple
ExecStart=/home/work/ipc_proxy

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
